    <div id="container">
      <header>
        <a id="logo" href="{{ site.web_dir }}">
          <img title="{{ site.name }}" src="{{ site.web_dir }}resources/logo.png" />
        </a>
        <div class="title">
          <h1>{{ site.name }}</h1>
          <h2>{{ site.description }}</h2>
        </div>
      </header>

      {% if menu is defined %}
        {% include 'menu.html.twig' %}
      {% endif %}

      <div class="content">
        {% if page == 'index' %}
          {% include 'index.html.twig' %}
        {% elseif page == 'tag' %}
          {% include 'tags.html.twig' %}
        {% else %}
          {% include 'post.html.twig' %}
        {% endif %}
      </div>

      {% if tags %}
        {% include 'tags_header.html.twig' %}
      {% endif %}

      <footer>
        {% include 'footer.html.twig' %}
      </footer>
    </div>
