    <div id="container">
      <header>
        <a id="logo" href="{{ site.web_dir }}">
          <img title="{{ site.name }}" src="{{ site.web_dir }}resources/logo.png" />
        </a>
        <div class="title">
          <h1>{{ site.name }}</h1>
          <h2>{{ site.description }}</h2>
        </div>
      </header>

      {% if menu is defined %}
        <nav class="menu">
          <ul>
            {% for item in menu %}
              <li>
                <a href="{{ item.slug }}/" title="{{ item.title }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}

      <div class="content">
        {% if is_index %}
          {% include 'index.html.twig' %}
        {% else %}
          {% include 'post.html.twig' %}
        {% endif %}
      </div>

      <footer>
      {% include 'footer.html.twig' %}
      </footer>
    </div>
